@import url('https://fonts.googleapis.com/css?family=Heebo');


body{
  background-image: url(images/fondq1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100vh;
}

.btn {
  position: fixed;
  top: 5%;
  left:5%;

}

.accueil_btn {
  position: fixed;
  top:5%;
  left:20%;
}

.options a{
  text-decoration: none;
  color: #ffffff;
  font-family: 'Heebo', sans-serif;
  background-color: orange;
  padding: 2%;
  text-transform: uppercase;
  font-weight: bold;

}
.elements {
  display: flex;
  justify-content: center;
  margin-top: 30%;
}

.left-bank {
  display: inline-flex;
  flex-direction: row;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 7%;
  width:225px;
  justify-content: space-between;
}

.right-bank {
  display: flex;
  flex-direction: row;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 10%;
  width:225px;
  justify-content: space-between;
}

#cannibal_1 img {
  width: 100px;
}

#cannibal_2 img {
  width: 100px;

}
#cannibal_3 img {
  width: 100px;
}
#missionary_1 img {
  width: 100px;

}
#missionary_2 img {
  width: 100px;

}
#missionary_3 img {
  width: 100px;

}
.questions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.questions h2 {
  background-color: orange;
  font-size : 17px;
  width: 260px;
  text-align: center;
  margin: 1%;
  padding:1%;
 color: #ffffff;
 font-family: 'Heebo', sans-serif;
}

.réponses{
text-align: center;
font-size: 15px;
line-height: 1.2em;
display: inline-block;
}

.réponses a {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Heebo', sans-serif;

}


.réponses {
  display:flex;
  justify-content: center;
}

.possibilities{
  background-color: orange;
  width: 130px;
  margin: 1%;
  padding : 1.5%;
  justify-content: center;
  align-items: center;
}

.possibilities a{
  text-transform: uppercase;
  font-size: 13px;

}

.possibilities span{
  font-weight:bold;
font-size: 20px;
}



.reessaie {
  background-color: orange;
  position: fixed;
  bottom: 5%;
  width: 100px;
  margin: 1%;
  padding : 1%;
  right: 2em;

}

.reessaie a{
  text-decoration: none;
  color: #ffffff;
  font-family: 'Heebo', sans-serif;
}



footer {
  text-align: center;
}

footer p {
  color: #ffffff;
  font-family: 'Heebo', sans-serif;
  text-align: right;
  margin-right: 3%;
  margin-bottom: 2%;
  font-size: 10px;
}
